    <footer class="footer">
        <div class="logo">
            <img src="../img/NR_grupo2.png" alt="" srcset="">
        </div>

        <div class="contacts">
            <h1>Contatos</h1>
            <ul>
                <li><a href="tel:+5581975862387">+55 (81) 97586-2387</a></li>
                <li><a href="emailto:smarttech@gmail.com">smarttech@gmail.com</a></li>
            </ul>
            <ul class="social-media">
                <li><a href=""><img src="../img/twitter.svg" alt="" srcset=""></a></li>
                <li><a href=""><img src="../img/facebook.svg" alt="" srcset=""></a></li>
                <li><a href=""><img src="../img/instagram.svg" alt="" srcset=""></a></li>
            </ul>
        </div>

        <div class="adress">
            <h1>Endereço</h1>
            <ul>
                <li><a href="">Rua Marquês de Tamandaré, Bairro Magano, 157</a></li>
                <li><a href="">Garanhuns, Brasil-PE, 55294-395</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>