<%- include("includes/header"); %>

<div class="container">

    <div class="home-logo">
        <img src="../img/NR_grupo2.png" alt="" srcset="">
    </div>
    <h3 class="title">Bem Vindos ao Smart Technology </h3> 

    <h5 class="title">Seu site de soluçoes na Area de Tecnologia </h5>
        
</div>

<%- include("includes/footer"); %>
