@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    padding: 0;
}

li{
    list-style: none;
}

.header {
    height: 150px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.header .menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 5px;
}

.container {
    min-height: calc(100vh - 56px - 100px);
    padding: 50px;
}

.footer {
    height: auto;
    background-color: #b4b4b4;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}

.footer .logo img{
    width: 128px;
    height: 128px;
}

.footer h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.footer a{
    color: #111;
}

.footer .social-media{
    display: flex;
    gap: 10px;
}

.concluido td:not(:last-child) {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

@media(max-width: 800px){
    .footer{
        flex-direction: column;
        gap: 40px;
    }
}